@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

h3#question {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#answer {
    text-align: left;
    margin-bottom: 20px;
}

.option {
    /* display: none; */
    accent-color: green;
    border: 3px solid rgb(228, 10, 10) !important;
    
}

.ans-btn {
    display: inline-block;
    /* background-color: #f9f9f9; */
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

.ans-btn:hover {
    background-color: #e9ecef;
}

button#nextBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#nextBtn:hover {
    background-color: #0056b3;
}

#quiz-end {
    font-size: 1.2rem;
    margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #container {
        padding: 10px;
    }
    
    h1 {
        font-size: 1.8rem;
    }
    
    h3#question {
        font-size: 1rem;
    }
    
    .ans-btn {
        padding: 8px 16px;
    }
    
    button#nextBtn {
        padding: 8px 16px;
    }
}
img{
    height: 100px;
    width: 200px;
}
#failImg,#passImg{
    display: none;
}
#final{
    height: auto;
    width: auto;
}
#imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}